{% load i18n %}
{% load static %}
{% load flatpages %}
{% load rhizom %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}{% if graph %}{{ graph.name }} | {% endif %}Rhizom{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css" />-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="{% static "rhizom/css/style.css" %}" />
    <link rel="stylesheet" href="{% static "rhizom/css/graph.css" %}" />
    <link rel="icon" href="{% static "rhizom/img/favicon.ico" %}" />
    {% block extra_head %}{% endblock %}
    {% include 'rhizom/headers.html' %}
</head>
<body>

{% include 'rhizom/top.html' %}
{% block body %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url "rhizom:index" %}">
            <img src="{% static "rhizom/img/logo-24.png" %}" alt="logo" />
            Rhizom
        </a>
        {% if graph %}
        <p class="navbar-text"><strong>{{ graph.name }}</strong></p>
        {% endif %}
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% if graph %}
        <ul class="nav navbar-nav">
                {% nav_link view_name="rhizom:graph_view" label="View" graph=graph.pk %}
                {% if user|has_graph_admin_perm:graph %}
                    {% nav_link view_name="rhizom:graph_admin" label="Admin" graph=graph.pk %}
                {% endif %}
            <li role="separator" class="divider"></li>
        </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            <!-- Extra nav links -->
            {% include 'nav/extra_links.html' %}
            <!-- Account & Authentication -->
            {% include "nav/auth_menu.html" %}
        </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>


<div class="container">

    <div class="row flashmessages">
    {% for msg in messages %}
        <div class="flashmessage {% if msg.tags == "success" %}autoclose{% endif %}">
            <div class="alert alert-dismissible alert-{{ msg.tags }}" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {{ msg }}
            </div>
        </div>
    {% endfor %}
    </div>


    {% block content %}{% endblock %}

</div> <!-- /container -->
{% endblock body %}


<footer id="footer" class="container">
    <hr />
    <p>
        <a href="https://gitlab.com/abompard/rhizom">{% trans "Rhizom project" %}</a>.
        {% trans "Written by Aurélien. For any suggestion, idea, improvement, fix, insult: <a href='mailto:aurelien@bompard.org'>write me</a>." %}
    </p>
</footer>


<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
//<![CDATA[
    {% if user.is_authenticated %}
    var currentUser = "{{ user.username|escapejs }}";
    {% else %}
    var currentUser = null;
    {% endif %}
//]]>
</script>
<script src="{% static "rhizom/js/typeahead.jquery.min.js" %}"></script>
<script src="{% static "rhizom/js/actions.js" %}"></script>
{% block more_js %}{% endblock %}

{% include 'rhizom/bottom.html' %}

</body>
</html>
