{% extends "rhizom/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Administration" %} | {{ block.super }}{% endblock %}

{% block content %}

<h3>{% trans "Graph properties" %}</h3>

<form role="form" method="post" class="form-horizontal">
    <input type="hidden" name="formname" value="graphprops" />
    {% bootstrap_form_horizontal form 2 4 _("Change") %}
</form>

<hr />

<h3>{% trans "Relationship types" %}</h3>

<div class="loadable" data-load-from="{% url 'rhizom:graph_admin_reltypes' graph=graph.pk %}"></div>

<hr />

<h3>{% trans "Authorizations" %}</h3>

<div class="loadable" data-load-from="{% url 'rhizom:graph_admin_access' graph=graph.pk %}"></div>

<hr />

<h3>{% trans "Import / Export" %}</h3>

<div class="col-md-6 text-center">
    <a class="btn btn-primary"
       href="{% url "rhizom:graph_export" graph=graph.pk name=graph.name format="json" %}">
       {% trans "Export graph" %}
    </a>
</div>
<form role="form" method="post" enctype="multipart/form-data"
      class="form-inline col-md-6 text-center with-loading-button"
      action="{% url "rhizom:graph_admin" graph=graph.pk %}">
    {% csrf_token %}
    <input type="hidden" name="formname" value="graphimport" />
    <input type="file" class="form-control" name="import"/>
    <button type="submit" class="btn btn-primary"
        data-loading-text="{% trans 'Importing...' %}">{% trans "Import graph" %}</button>
</form>
<div class="clearfix"></div>

<hr />

<h3>{% trans "Deletion" %}</h3>

<p>
    <form role="form" method="post" class="form-delete"
          action="{% url "rhizom:graph_admin" graph=graph.pk %}">
    {% csrf_token %}
    <input type="hidden" name="formname" value="graphdel" />
    <button type="submit" class="btn btn-danger"
        data-confirm="{% trans "Undoing this is impossible. Go on?" %}"
        >{% blocktrans with name=graph.name %}Delete {{ name }}{% endblocktrans %}</button>
    </form>
</p>

{% endblock %}


{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static "rhizom/lib/spectrum/spectrum.css" %}" />
{% endblock %}
{% block more_js %}
{{ block.super }}
<script src="{% static "rhizom/lib/spectrum/spectrum.js" %}"></script>
<script>
    $(function() {
        $("form.form-delete button").click(function(e) {
            var response = confirm($(this).attr("data-confirm"));
            if (!response) {
                e.preventDefault();
            }
        });
    });
</script>
{% endblock %}
