{% load i18n %}
{% load rhizom %}

{% if graph.relationshiptype_set.count > 0 %} {# There is at least a relationship type defined #}

{% if person %}
<h4>
{% blocktrans with name=person.name %}
Relationships for <strong>{{ name }}</strong>
{% endblocktrans %}
</h4>

<div class="form-table">
    <div class="form-table-head">
        <div class="form-table-cell">{% trans "With" %}</div>
        <div class="form-table-cell">{% trans "Type" %}</div>
        <div class="form-table-cell">{% trans "Dotted" %}</div>
        <div class="form-table-cell"></div>
    </div>
    {% include "rhizom/graph_edit/add_rel.html" %}
    {% for rel in relationships %}
        {% include "rhizom/graph_edit/edit_rel.html" %}
    {% endfor %}
</div>

{% else %}

<h4>{% trans "New relationship" %}</h4>

{% include "rhizom/graph_edit/new_rel.html" %}

{% endif %}


{% else %} {# There is no relationship type defined #}
<div class="alert alert-danger">
    {% trans "No relationship type has been configured yet." %}
    {% if user|has_graph_admin_perm:graph %}
        {% url "rhizom:graph_admin" graph=graph.id as admin_url %}
        {% blocktrans %}
        Start by adding one <a href="{{ admin_url }}">on the admin page</a>.
        {% endblocktrans %}
    {% else %}
        {% trans "Ask the graph admin to add some." %}
    {% endif %}
</div>
{% endif %}

