{% extends "rhizom/base.html" %}
{% load i18n %}
{% load static %}
{% load rhizom %}

{% block extra_head %}
{{ block.super }}
<style>
    {% for rtype in graph.relationshiptype_set.all %}
    path.link.{{ rtype.cssname }} {
        stroke: {{ rtype.color }};
    }
    #legend .{{ rtype.cssname }} {
        background-color: {{ rtype.color }};
    }
    {% endfor %}
</style>
{% endblock %}


{% block content %}

<div id="graph-container">

{# Edit panel #}
<div class="edit-panel">
    <div class="edit-panel-content">
        <div class="ajaxloader">
            <img src="{% static "rhizom/img/ajax-loader-big.gif" %}"
                 alt="{% trans "Loading..." %}" />
        </div>
        <div class="edit-panel-toolbar">
            <a data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               href="" title="{% trans "Help" %}"
               data-content="{% trans "Click on a person to edit their relationships, click on the graph background to add new persons." %}">
                <span class="glyphicon glyphicon-question-sign"></span>
            </a>
            <a href="" title="{% trans "Close edit panel" %}" class="edit-panel-close">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
        </div>
        <div class="edit-panel-form"
             data-base-url="{% url "rhizom:graph_edit" graph=graph.id %}">
        </div>
    </div>
</div>


{# Graph #}
<div id="graph">
    <div class="ajaxloader">
        <img src="{% static "rhizom/img/ajax-loader-big.gif" %}"
             alt="Loading..." />
    </div>
</div>

</div>


<div id="graph-footer" class="row">
<div id="legend" class="row">
    <strong>{% trans "Legend:" %}</strong>
    <ul>
        {% for rtype in graph.relationshiptype_set.all %}
        <li><a href="" data-rtype="{{ rtype.cssname }}"
               data-toggle="tooltip" data-placement="top"
               title="{% trans "Hide or show this type" %}">
            <span class="{{ rtype.cssname }}"> </span> {{ rtype.name }}
        </a></li>
        {% endfor %}
    </ul>
</div>
<p>
    <span class="glyphicon glyphicon-user"></span>
    {% blocktrans with pnum=graph.person_set.count rnum=graph.relationships|length %}
    {{ pnum }} persons, {{ rnum }} relationships.
    {% endblocktrans %}
</p>
<p>
    {% trans "Drag to move, mouse wheel to zoom/unzoom, double click to recenter the view." %}
</p>
<ul id="graph-actions" class="list-inline">
    <li><strong>{% trans "Actions :" %}</strong></li>
    {% if user|has_graph_edit_perm:graph %}
    <li data-toggle="buttons">
        <label class="btn btn-sm btn-info" id="btn-edit-mode">
            <input type="checkbox" autocomplete="off" />
            <span class="glyphicon glyphicon-edit"></span>
            {% trans "Edit mode" %}
        </label>
    </li>
    {% endif %}
    <li><button class="btn btn-sm btn-default" id="btn-stop">
        <span class="glyphicon glyphicon-pause"></span>
        {% trans "Freeze" %}</button>
    </li>
    <li data-toggle="buttons">
        <label class="btn btn-sm btn-default" id="btn-anonymous">
            <input type="checkbox" autocomplete="off" />
            <span class="glyphicon glyphicon-eye-close"></span>
            <span class="glyphicon glyphicon-eye-open"></span>
            {% trans "Anonymous" %}
        </label>
    </li>
    <!-- <button onclick="graph.redraw();">{% trans "Redraw" %}</button> -->
    <li>
        <form action="{% url "rhizom:graph_export" graph=graph.id name=graph.name format="svg" %}"
              method="post" id="export-svg" target="_blank" style="display:inline">
            {% csrf_token %}
            <input type="hidden" name="svg"/>
            <button type="submit" class="btn btn-sm btn-default" title="{% trans "Export to SVG" %}">
                <span class="glyphicon glyphicon-share"></span> SVG
            </button>
        </form>
    </li>
    <li><label for="linkdistance">{% trans "Link length:" %}</label>
        <span id="linkdistance"></span>
    </li>
</ul>
</div> <!-- /graph-footer -->



{% endblock %}

{% block more_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="{% static "rhizom/js/graph.js" %}"></script>
<script>
//<![CDATA[
    graph = setup_graph_page("{% url "rhizom:graph_data" graph=graph.id %}");
    setup_editor_page(graph);
//]]>
</script>
{% endblock %}
