{% extends "rhizom/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap_tags %}

{% block content %}

<div class="jumbotron">
    <h1>Rhizom <img src="{% static "rhizom/img/logo-64.png" %}" alt="logo" /></h1>
    <p>
        {% trans "Visualize your relationship network." %}
        <a href="https://gitlab.com/abompard/rhizom" class="btn btn-primary">
            {% trans "Learn more" %}
        </a>
    </p>
</div>

{% if paginator.count %}

<h2>{% trans "Available graphs:" %}</h2>

<ul class="lead graphlist">
    {% for graph in graphs %}
    <li>
        <a href="{% url 'rhizom:graph_view' graph=graph.pk %}">{{ graph.name }}</a>
        <span class="text-muted smaller">
            (<span class="glyphicon glyphicon-user"></span>
            {{ graph.person_set.count }} / {{ graph.relationships.count }})
        </span>
    </li>
    {% endfor %}
</ul>

{% if is_paginated and paginator.num_pages > 1 %}
    {% include "bootstrap/pagination.html" %}
{% endif %}

{% else %}

<p>{% trans "No graph available." %}</p>

{% endif %}

{% if user.is_authenticated %}

<div class="newgraph">
<hr />

<h3>{% trans "New graph" %}</h3>

<form role="form" method="post" class="form-inline">
    {% bootstrap_form_inline new_form %}
    <button class="btn btn-primary" type="submit"
            name="formname" value="new">
        {% trans "Create" %}
    </button>
</form>

{% if graphs %}
<hr />
<form role="form" method="post" class="form-inline">
    {% bootstrap_form_inline copy_form %}
    <button class="btn btn-primary" type="submit"
            name="formname" value="copy">
        {% trans "Copy" %}
    </button>
</form>
{% endif %}

</div>

{% else %}

<p class="alert alert-info">
{% url "account_login" as login_url %}
{% blocktrans %}
You need to <a href="{{ login_url }}">login</a> to see your graphs or create new graphs.
{% endblocktrans %}
</p>

{% endif %}

{% endblock %}

