{% load i18n %}
{% load bootstrap_tags %}

<form role="form" method="post" class="form-inline"
      action="{% url "rhizom:graph_edit_relationship_add" graph=graph.id %}">
    <input type="hidden" name="person" value="{{ person.id }}" />
    {% bootstrap_form_inline newrel_form with_label=False %}
    <div class="form-group">
        <button name="_method" value="POST"  data-loading-text="..."
                class="btn btn-sm btn-primary" title="{% trans "Add" %}">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</form>

<script>
$(function() {
    setup_autocomplete($('input.autocomplete'), graph.getPersonNames.bind(graph));
});
</script>
