{% load i18n %}

<form role="form" method="post" class="form-inline"
      action="{% url "rhizom:graph_edit_relationship_edit" graph=graph.id rel=rel.id %}">
    {% csrf_token %}
    <input type="hidden" name="other" value="{{ rel.other.id }}" />
    <div class="form-group">
        <p class="form-control-static name">{{ rel.other.name }}</p>
    </div>
    <div class="form-group">
        <select name="reltype" class="form-control">
            {% for rtype in graph.relationshiptype_set.all %}
            <option value="{{ rtype.pk }}"
                {% if rtype.name == rel.reltype.name %} selected {% endif %}
                >{{ rtype.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <input name="dotted" type="checkbox" class="form-control"
                   {% if rel.dotted %}checked{% endif %} />
        </div>
    </div>
    <div class="form-group buttons">
        <button name="_method" value="PUT" data-loading-text="..."
                class="btn btn-sm btn-info" title="{% trans "Update" %}">
            <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button name="_method" value="DELETE" data-loading-text="..."
                class="btn btn-sm btn-warning" title="{% trans "Delete" %}">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</form>
