{% load i18n %}
{% load bootstrap_tags %}

<form role="form" method="post" class="form-horizontal rel-add col-xs-12"
      action="{% url "rhizom:graph_edit_relationship_add" graph=graph.id %}">
    {% bootstrap_form_horizontal newrel_form 3 9 %}
    <div class="form-group">
        <div class=" col-sm-offset-3 col-sm-9">
            <button name="_method" value="POST" class="btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans "Add" %}
            </button>
        </div>
    </div>

    <script>
    $(function() {
        setup_autocomplete($('input.autocomplete'), graph.getPersonNames.bind(graph));
    });
    </script>
</form>
