{% extends "openid/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans 'OpenID Sign In' %}{% endblock %}

{% block content %}

<h1>{% trans 'OpenID Sign In' %}</h1>


<form id="openid_login_form" class="openid_login" method="post" action="{% url 'openid_login' %}">
  {% bootstrap_form_horizontal form 3 4 _("Sign In") %}
</form>

{% endblock %}
