{% extends "rhizom/profile/base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block user_profile_content %}

<div class="row">
    <form role="form" method="post" class="form-horizontal"
          action="{% url "rhizom:profile" %}">
        {% bootstrap_form_horizontal form 3 7 fold_class="sm" %}
        {% comment %}
        {% user_profile_form.hidden_tag() %}
        <div class="form-group">
            <label class="col-sm-3 control-label">{% trans "Email" %}</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ current_user.email }}</p>
            </div>
        </div>
        {{ macros.render_field_horizontal(user_profile_form.name) }}
        {{ macros.render_field_horizontal(user_profile_form.locale, class="form-control") }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
            </div>
        </div>
        {% endcomment %}
        <div class="form-group">
            <label class="col-sm-3 control-label">{% trans 'Main email:' %}</label>
            <div class="col-sm-7">
                <p class="form-control-static">
                    {% if user.email %}
                        {{ user.email}}
                    {% else %}
                        {% trans "(no email)" %}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{% trans 'Other emails:' %}</label>
            <div class="col-sm-7">
                    <ul class="form-control-static list-unstyled">
                    {% for address in other_addresses %}
                        <li>{{ address }}</li>
                    {% empty %}
                        <li>{% trans "(no other email)" %}</li>
                    {% endfor %}
                        <li>
                            <i class="fa fa-link" aria-hidden="true"></i>
                            <a href="{% url 'account_email' %}">
                                {% trans "Link another address" %}
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{% trans 'Joined on:' %}</label>
            <div class="col-sm-7">
                <p class="form-control-static">{{ user.date_joined|date:"N j Y, H:i" }}</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
                <button type="submit" class="submit btn btn-primary">{% trans "Update" %}</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
