{% load bootstrap_tags %}
            {% if field|fieldtype_is:'RadioSelect' %}
                {% for choice in field %}
                    <label class="radio-inline">
                        {{ choice.tag }}
                        {{ choice.choice_label }}
                    </label>
                {% endfor %}
            {% elif field|fieldtype_is:'CheckboxInput' %}
                <div class="checkbox">
                {% if with_label %}
                    <label>
                        {{ field }}
                        {{ field.label }}
                    </label>
                {% else %}
                    {{ field }}
                {% endif %}
                </div>
            {% elif field|fieldtype_is:'CheckboxSelectMultiple' %}
                {% for choice in field %}
                    <div class="checkbox">
                        <label>
                            {{ choice }} {{ choice.label }}
                        </label>
                    </div>
                {% endfor %}
            {% else %}
                {{ field|add_form_control }}
            {% endif %}
            {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}

