{% load bootstrap_tags %}

{% include "./_form-top.html" %}

{% for field in form.visible_fields %}
    <div class="form-group {% if field.errors %}has-errors{% endif %}">
        {% if with_label %}
            <label class="control-label" for="{{ field.id_for_label }}">
                {% if not field|fieldtype_is:'CheckboxInput' %}
                    {{ field.label }}
                {% endif %}
            </label>
        {% endif %}
        {% include "./form-field.html" %}
        {% if field.help_text %}
        <p id="help-{{ field.id_for_label }}"
           class="col-{{ fold_class }}-offset-{{ size_left }} col-{{ fold_class }}-{{ size_right }} help-block">
            {{ field.help_text|safe|linebreaksbr }}
        </p>
        {% endif %}
    </div>
{% endfor %}
{% if button %}
    <button class="btn btn-primary" type="submit">{{ button }}</button>
{% endif %}

