{% load bootstrap_tags %}

{% include "./_form-top.html" %}

{% for field in form.visible_fields %}
    <div class="form-group {% if field.errors %}has-errors{% endif %}">
        <label class="control-label col-{{ fold_class }}-{{ size_left }}"
               for="{{ field.id_for_label }}">
            {% if not field|fieldtype_is:'CheckboxInput' %}
                {{ field.label }}
            {% endif %}
        </label>
        <div class="col-{{ fold_class }}-{{ size_right }}">
            {% include "./form-field.html" %}
        </div>
        {% if field.help_text %}
        <p id="help-{{ field.id_for_label }}"
           class="col-{{ fold_class }}-offset-{{ size_left }} col-{{ fold_class }}-{{ size_right }} help-block">
            {{ field.help_text|safe|linebreaksbr }}
        </p>
        {% endif %}
    </div>
{% endfor %}
{% if button %}
    <div class="form-group">
        <div class="col-{{ fold_class }}-offset-{{ size_left }} col-{{ fold_class }}-{{ size_right }}">
            <button class="btn btn-primary" type="submit">{{ button }}</button>
        </div>
    </div>
{% endif %}
