/*
 * Graph-specific styles, also applies to SVG
 */

.node circle {
    stroke: #bbbbbb;
    stroke-width: 1.5px;
    fill: #eeeeee;
}

.node rect {
    fill: #ffffff;
    opacity: 0.5;
}
.node text {
    font: 12px sans-serif;
    pointer-events: none;
    text-anchor: middle;
}
/* circles */
.node.circle-0 text,
.node.circle-1 text {
    font-weight: bold;
    font-size: 14px;
}
.node.circle-2 text {
    font-size: 14px;
}
.node.circle-3 text {
    font-size: 13px;
}
/* abbreviations for anonymous state */
.node .full,
.node .abbrev {
    display: none;
}

path.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

path.link.dotted {
    stroke-dasharray: 5 5;
}
