{% load socialaccount %}
{% load static %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}"
     class="socialaccount_provider {{provider.id}} {{brand.id}} btn btn-default"
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
    <img alt="" src="{% static 'socialaccount/img/services/' %}{{ brand.id }}.png" />
    {{brand.name}}
  </a>
</li>
{% endfor %}
{% endif %}
<li>
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} btn btn-default"
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
    <img alt="" src="{% static 'socialaccount/img/services/' %}{{ provider.id }}.png" />
    {{provider.name}}
  </a>
</li>
{% endfor %}

