{% load i18n %}
{% load bootstrap_tags %}

<div class="form-table reltypes">
    <div class="form-table-head">
        <div class="form-table-cell">{% trans "Name" %}</div>
        <div class="form-table-cell">{% trans "Color" %}</div>
        <div class="form-table-cell">{% trans "Count" %}</div>
        <div class="form-table-cell"></div>
    </div>
    <form role="form" method="post" class="form-inline"
          action="{% url 'rhizom:graph_admin_reltypes' graph=graph.pk %}">
        {% bootstrap_form_inline form with_label=False %}
        <div class="form-group"></div>
        <div class="form-group">
            <button name="_method" value="POST" data-loading-text="..."
                    class="btn btn-sm btn-primary" title="{% trans "Add" %}">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </form>
    {% for reltype in graph.relationshiptype_set.all %}
    <form role="form" method="post" class="form-inline"
          action="{% url 'rhizom:graph_admin_reltypes' graph=graph.pk pk=reltype.pk %}">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="name" class="form-control" value="{{ reltype.name }}" />
        </div>
        <div class="form-group">
            <input type="color" name="color" class="form-control" value="{{ reltype.color }}" />
        </div>
        <div class="form-group text-center">
            {{ reltype.rel_count }}
        </div>
        <div class="form-group">
            <button name="_method" value="PUT" data-loading-text="..."
                    class="btn btn-sm btn-info" title="{% trans "Update" %}">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button name="_method" value="DELETE" data-loading-text="..."
                    class="btn btn-sm btn-warning" title="{% trans "Delete" %}"
                    {% if reltype.rel_count != 0 %}
                    data-confirm="{% blocktrans with count=reltype.rel_count %}You are deleting {{ count }} relationships.{% endblocktrans %}"
                    {% endif %}
                    >
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </form>
    {% endfor %}
</div>
