{% load i18n %}
{% load bootstrap_tags %}

<div class="form-table accesses">
    <div class="form-table-head">
        <div class="form-table-cell">{% trans "Username" %}</div>
        <div class="form-table-cell">{% trans "Access level" %}</div>
        <div class="form-table-cell"></div>
    </div>
    <form role="form" method="post" class="form-inline"
          action="{% url 'rhizom:graph_admin_access' graph=graph.pk %}">
        {% bootstrap_form_inline form with_label=False %}
        <div class="form-group">
            <button name="_method" value="POST" data-loading-text="..."
                    class="btn btn-sm btn-primary" title="{% trans "Add" %}">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </form>
    {# Public access #}
    {% if not has_public_access %}
    <form role="form" method="post" class="form-inline"
          action="{% url 'rhizom:graph_admin_access' graph=graph.pk %}">
        {% csrf_token %}
        <div class="form-group">
            <p class="form-control-static">{% trans "Public" %}</p>
        </div>
        <div class="form-group">
            <select name="level" class="form-control">
                <option value="" selected>{% trans "No access" %}</option>
                {% for level_id, level_name in perm_choices %}
                <option value="{{ level_id }}"
                    {% if level_id == perm.level %} selected {% endif %}
                    >{{ level_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button name="_method" value="POST" data-loading-text="..."
                    class="btn btn-sm btn-primary" title="{% trans "Add" %}">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </form>
    {% endif %}
    {# Private access #}
    {% for perm in graph.permission_set.all %}
    <form role="form" method="post" class="form-inline"
          action="{% url 'rhizom:graph_admin_access' graph=graph.pk pk=perm.pk %}">
        {% csrf_token %}
        <div class="form-group">
            <p class="form-control-static">
                {% if perm.user %}
                    <span {% if perm.user.display_name %}title="{{ perm.user.display_name }}"{% endif %}>
                        {{ perm.user.username }}
                    </span>
                {% else %}
                    {% trans "Public" %}
                {% endif %}
            </p>
        </div>
        <div class="form-group">
            <select name="level" class="form-control">
                {% for level_id, level_name in perm_choices %}
                <option value="{{ level_id }}"
                    {% if level_id == perm.level %} selected {% endif %}
                    >{{ level_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button name="_method" value="PUT" data-loading-text="..."
                    class="btn btn-sm btn-info" title="{% trans "Update" %}">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button name="_method" value="DELETE" data-loading-text="..."
                    class="btn btn-sm btn-warning" title="{% trans "Delete" %}">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </form>
    {% endfor %}
</div>


<script>
$(function() {
    setup_username_autocomplete(
        $('.accesses form input.autocomplete'),
        '{% url "rhizom:graph_admin_find_username" graph=graph.pk %}'
        );
});
</script>
