{% extends "rhizom/profile/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}
    {% trans "Account" %} | {{ block.super }}
{% endblock %}

{% block user_profile_content %}

{% if user.emailaddress_set.all %}
<p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

<form action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

  {% for emailaddress in user.emailaddress_set.all %}
<div class="ctrlHolder radio">
      <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

      <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

{{ emailaddress.email }}
    {% if emailaddress.verified %}
    <span class="label label-success">{% trans "Verified" %}</span>
    {% else %}
    <span class="label label-warning">{% trans "Unverified" %}</span>
    {% endif %}
      {% if emailaddress.primary %}<span class="label label-primary">{% trans "Primary" %}</span>{% endif %}
</label>
</div>
  {% endfor %}

<div class="form-group buttonHolder">
      <button class="btn btn-default secondaryAction" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
      <button class="btn btn-default secondaryAction" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
      <button class="btn btn-danger primaryAction" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
</div>

</fieldset>
</form>

{% else %}
<p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

{% endif %}


    <h3>{% trans "Add E-mail Address" %}</h3>

    <form method="post" action="{% url 'account_email' %}" class="add_email form-horizontal">
        {% bootstrap_form_horizontal form 2 4 %}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
            </div>
        </div>
    </form>

{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
