{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap_tags %}

{% block head_title %}
    {% trans "Password Reset" %} | {{ block.super }}
{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form-horizontal">
        {% bootstrap_form_horizontal form 2 4 %}
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary" type="submit">{% trans "Reset My Password" %}</button>
          </div>
        </div>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
