{% load navigation %}

{% if user.is_authenticated %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span>
            {{ user.get_full_name|default:user.username }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {% nav_link view_name="rhizom:profile" label="Profile" icon="user" %}
            {% nav_link view_name="account_logout" label="Logout" icon="log-out" %}
        </ul>
    </li>
{% else %}
    {% nav_link view_name="account_login" label="Sign In" icon="log-in" next=next|default:request.path|urlencode %}
    {% nav_link view_name="account_signup" label="Sign Up" icon="plus-sign" next=next|default:request.path|urlencode %}
{% endif %}
